<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>EDUCATION | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">

</head>

<body>
    <!-- Preloader -->
    <% include ../partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('<%- file.newImg-%>');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">EDUCATION</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    
    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar">
                        <br>
                        <!-- <p>
                            An innovative and transformative education paradigm will be the adopted practice of education for the proposed Centre. 
                            This is the Culturo-Techno-Contextual Approach (CTCA) selected based on its efficacy for training exemplary STEM teachers (Smith and Adebayo, 2013). The increasing incursion of technology to teaching and learning especially in the last five years has brought a new and exciting dimension which science classrooms in Africa are taking advantage. 
                            Africa has one of the fastest growing rates of use of internet-enabled mobile devices making technology-mediated teaching and learning to take an upward swing (Uwadiae, 2015). 
                            The science classrooms have not been left out as many students at all levels and their teachers are using new and emerging technologies in class interaction. 
                            A survey by Okebukola (2013) documents high rates of e-learning readiness of students and teachers in Nigerian schools.

                            The over 30 years of inquiry as to how best to present science to African students in a way to enhance meaningful learning, 
                            bolster achievement and improve interest and attitude has resulted in pockets of approaches now needing connecting threads. 
                            It now needs isolating the elements of the individual approaches which research has confirmed to be potent and blending these into a 
                            simple but elegant approach that is flexible and adaptable to the different cultural contexts in Africa. 
                            This led to the emergence of the Culturo-Techno-Contextual Approach (CTCA).
                        </p> -->
                        <p> <%-file.content%></p>
                        <br><br>
                    </div>
                </div>
                
                <!-- sideNav -->
                <% include ../partials/sideNav.ejs %>
                
            </div>
    
            
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ../partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>