<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>IMPLEMENTATION TIMELINE | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">
    <style>
       table ul li{
           list-style-type: square;
           list-style-position: inside;
           padding: 5px;
       }
    </style>

</head>

<body>
    <!-- Preloader -->
    <% include ../partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/time.JPG);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">IMPLEMENTATION TIMELINE</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar">
                        <br>
                        <p>The Implementation Timeline is designed to provide a high-level overview of the planned administrative, education and
                        research activities of the proposed Center. In the Table below, identify up to three major activities planned for each
                        year of the project in education, research and other topics (e.g. center management, institutional impact, facilities).
                        In all aspects of the project, disparate activities should link together to result in a coherent workplan that achieves
                        the objectives of the proposed Center.</p>
                        <p>In addition to the Table, this Section can include a narrative (maximum two pages) that provides further details on the
                        Implementation Timeline.</p>
                        <p>The yearly activities of the Centre will include quarterly delivery of short courses, advertisement, application,
                        screening and admission of postgraduate students into the Master’s and PhD programmes of the Centre, teaching of
                        courses on the PG programmes, conduct of research by staff and students at the Center, monthly PG seminars, attendance
                        of conference and training workshops for staff (academic and non-academic) and students.</p>
                        <br>
                    </div>
                    <br><br>
                    <div class="container-fluid">
                        <table class="w3-table w3-striped table w3-card-4">
                            <thead>
                                <tr class="w3-blue">
                                    <th>YEAR ONE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Education</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Advertisement, application, screening and admission of PG students</li>
                                            <li>PG lecture delivery</li>
                                            <li>Disemination of research findings in workshops, seminars and conferences</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Research</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Identification of research groups within the Centre</li>
                                            <li>Conduct of research studies on the development challenge</li>
                                            <li>Monthly Postgraduate seminar</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Other Topics</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Quarterly delivery of short courses</li>
                                            <li>Non academic staff attendance on workshops and conferences</li>
                                            <li>End of year activities/report</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table class="w3-table w3-striped table w3-card-4">
                            <thead>
                                <tr class="w3-blue">
                                    <th>YEAR TWO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Education</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Advertisement, application, screening and admission of PG students</li>
                                            <li>PG lecture delivery</li>
                                            <li>Monthly Postgraduate seminar</li>
                                            <li>Graduation of first set of Masters students</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Research</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>PhD students commencement of research study</li>
                                            <li>Conduct of research studies on the development challenge within groups continues</li>
                                            <li>Disemination of research findings in workshops, seminars and conferences</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Other Topics</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Quarterly delivery of short courses</li>
                                            <li>Non academic staff attendance on workshops and conferences</li>
                                            <li>End of year activities/report</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table class="w3-table w3-striped table w3-card-4">
                            <thead>
                                <tr class="w3-blue">
                                    <th>YEAR THREE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Education</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Advertisement, application, screening and admission of PG students</li>
                                            <li>PG lecture delivery</li>
                                            <li>Monthly Postgraduate seminar</li>
                                            <li>Graduation of second set of Masters students</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Research</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Year 1 PhD students continue and Year 2 students commence research study</li>
                                            <li>Conduct of research studies on the development challenge within groups continues</li>
                                            <li>Disemination of research findings in workshops, seminars and conferences</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Other Topics</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Quarterly delivery of short courses</li>
                                            <li>Non academic staff attendance on workshops and conferences</li>
                                            <li>End of year activities/report</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table class="w3-table w3-striped table w3-card-4">
                            <thead>
                                <tr class="w3-blue">
                                    <th>YEAR FOUR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Education</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Advertisement, application, screening and admission of PG students</li>
                                            <li>PG lecture delivery</li>
                                            <li>Monthly Postgraduate seminar</li>
                                            <li>Graduation of third set of Masters students and possibly first set of PhDs</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Research</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Year 1 & 2 PhD students continue and Year 3 students commence research study</li>
                                            <li>Conduct of research studies on the development challenge within groups continues</li>
                                            <li>Disemination of research findings in workshops, seminars and conferences</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Other Topics</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Quarterly delivery of short courses</li>
                                            <li>Non academic staff attendance on workshops and conferences</li>
                                            <li>End of year activities/report</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table class="w3-table w3-striped table w3-card-4">
                            <thead>
                                <tr class="w3-blue">
                                    <th>YEAR FIVE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Education</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Advertisement, application, screening and admission of PG students</li>
                                            <li>PG lecture delivery</li>
                                            <li>Monthly Postgraduate seminar</li>
                                            <li>Graduation of fourth set of Masters students and first set & possibly second set of PhDs</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Research</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Year 1,2&3 PhD students continue and Year 2 students commence research study</li>
                                            <li>Conduct of research studies on the development challenge within groups continues</li>
                                            <li>Disemination of research findings in workshops, seminars and conferences</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Other Topics</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Quarterly delivery of short courses</li>
                                            <li>Non academic staff attendance on workshops and conferences</li>
                                            <li>End of year activities/report</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- sideNav -->
                <% include ../partials/sideNav.ejs %>
            </div>


        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ../partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>