<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>CENTRE OPERATIONS | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">
    <style>

    </style>

</head>

<body>
    <!-- Preloader -->
    <% include ./partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/program-mech-eng.JPG);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">CENTRE OPREATIONS</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar">
                        <br>
                        <p>The administrative and financial support staff of the proposed Center will be carefully chosen by working very closely
                        with senior registry staff of the university. It is important that they are fast learners who will easily understand
                        policies and procedures so as to ensure the achievement of the Centre (education and research) goals.</p>
                        <p>It terms of procurement policies and administration shall be guided by the university policies (attached) and the
                        dictates of the primary funders of the Centre- the World Bank..</p>
                        <p>Being a Centre within the university, university financial management systems will be binding. Like every other unit of
                        the university, the Centre will prepare a budget on an annual basis, defend the budget and implement the approved
                        budget within the budgetary period. However, as is the case with procurement and administration, where there is a need
                        to have an amendment, this will be discussed at the Centre Management level and then tabled with the University
                        Management for consideration and approval.</p>
                        <p>As is the case with financial management systems, the university Oversight and Audit system will be binding. Like every
                        other unit of the university, when purchases are (to be) made in the Centre, auditory regulations will be followed to
                        the letter. However, as is the case with procurement and administration, where there is a need to have an amendment to
                        the existing regulations, this will be discussed at the Centre Management level and then tabled with the University
                        Management for consideration and approval.</p>
                        <br><br>
                    </div>
                </div>

                <!-- sideNav -->
                <% include ./partials/sideNav.ejs %>
            </div>


        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ./partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>