<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>RESEARCH PLAN| CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">

</head>

<body>
    <!-- Preloader -->
    <% include ../partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('<%-file.newImg%>');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">RESEARCH PLAN FOR THE CENTRE</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    
    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar">
                        <br>
                        <!-- page main post -->
                        <p>
                                <!-- The research focus of the proposed Centre is teacher quality in STEM Education. 
                                The broad research needs for solving major developmental challenges of Nigeria specifically and the West Africa sub-region in general 
                                such as poverty, youth unemployment, food insecurity and ethnic/religious conflicts through training of quality STEM teachers are in four 
                                areas. These are:
                                <ol style="margin-left: 25px;">
                                    <li>
                                        <b>Need for greater deployment of science and technology for development:</b> 
                                        Why are students under-enrolling and underachieving in STEM especially girls and how can the trend be reversed? 
                                        This will contribute to solving the developmental challenge of having low proportion of scientists that can harness STEM for national 
                                        and sub-regional development. In the first four years of establishment of the Centre research focus shall be on meta-analysis of the rich 
                                        literature on students’ under-enrolment and underachievement in science, especially girls. The milestones include pilot testing of models 
                                        that are potent in reversing the trend. Lessons learned from the pilot run will lead to upscaling of the models nationwide and sub-regionwide
                                         after the initial four-year period.
                                    </li> <br>
                                    <li>
                                            <b>Need for a food secure nation and sub-region:</b> 
                                            How can the youth be attracted to agriculture so that the food security challenge can abate?
                                            In the first four years of establishment of the Centre research focus shall be on deepening studies on why the youth shun agriculture and 
                                            explore best practices in reversing the trend. Milestones include national and sub-regional surveys and experimentation with models with 
                                            potential to reverse the trend. During the fourth year, research will address STEM teacher education curricula and delivery process that
                                            can directly or indirectly contribute to improving food security in Nigeria and the West Africa sub-region.
                                    </li> <br>

                                    <li>
                                            <b>Need for gainful employment for the youth:</b> 
                                            What entrepreneurial and other educational practices can be implemented to lower youth unemployment rates? How can quality STEM education 
                                            play a role? In the first four years of establishment of the Centre research focus shall be on developing good models of entrepreneurial 
                                            education including curriculum and curriculum implementation issues. Research will be carried out on how STEM education especially 
                                            technical and vocational education can best play a role in lowering youth unemployment.
                                    </li> <br>

                                    <li>
                                            <b> for peaceful coexistence and sustainable democracy:</b> 
                                            What form of STEM educational practices will best serve Nigeria and the sub-region in fostering a culture of 
                                            peace and promotion of sustainable democracy? In the first four years of establishment of the Centre research 
                                            focus shall be on ethnographic studies of violent extremism, religious and ethnic conflicts and how education 
                                            of STEM teachers can play a role in mitigation. After the fourth year, collateral factors detected in the 
                                            earlier studies will be explored in-depth and case studies of successful practices documented.
                                    </li>
                                </ol> <br>

                                The proposed Centre shall also vigorously pursue research on improved curricula, pedagogy, assessment and development of cutting-edge 
                                instruments and methodologies; quantitative and qualitative analysis of learning assessments; inclusive education 
                                (research needed on refugee education, girls’ education, disability education, religious education).  Students in the Centre 
                                will be encouraged to undertake studies in specific areas earlier highlighted in fulfilment of the conditions for the award of 
                                their respective degrees. The specific research projects include bilingual/mother tongue education; approaches to early grade 
                                literacy and numeracy; student-centered teaching; ICT utilisation to improve teaching and learning; evaluation and assessment 
                                mechanisms; recruitment, retention and training of (STEM) teachers; approaches to inclusive education/educating children with 
                                disabilities; differentiated teaching; school-based management and community engagement.
                                <br> <br>
                               <b> Capacity of the proposed centre to deliver the results in a timely manner:</b> 
                               At least six staff of the proposed Centre have led international research teams on science education for UNESCO 
                               and other global bodies. At least 12 have led or participated in national study teams which came up with 
                               widely-acclaimed reports. At least five staff of the proposed Centre have won huge international research 
                               grants and 10 have been successful in having their proposals accepted for presentation at global STEM 
                               conferences through highly competitive process with acceptance rate averaging a mere 15%.  On facilities, 
                               with improved resourcing when approved as a centre of excellence, the Centre will increase its staff strength 
                               and procure more facilities for delivering on its research mandate in a timely manner.
                               <br> <br>
                               <b>Partnership with international networks for research:</b> 
                               Staff of the centre are leaders/members of international science education and educational management networks. 
                               Partnership with these networks will be harnessed to mutual advantage. Such networks to which staff of the proposed 
                               Centre have long-standing relationship and partnership include the Global University Network for Innovation 
                               (GUNI)-Africa, the National Association of Research in Science Teaching (a global network), International Council of
                                Association of Science Education (ICASE), African Quality Assurance Network (AfriQAN), Africa Association of 
                                Indigenous Knowledge Systems (AASIKS) and the CHEA International Quality Group (CIQG). 
                                The contribution of partners – industry, sectoral and academic – to developing and undertaking the research 
                                activities of the proposed Centre is immense. They will nominate participants for our short-term courses and the 
                                participants will become better in the discharge of their responsibilities as trainers, policy makers and policy 
                                implementers.
                                <br> <br>
                                <b>Data collection, curation and maintenance:</b> 
                                The proposed Centre will maximally utilise technology and global best practices in data collection and maintenance. 
                                Having being part of international research teams for over 30 years, staff of the proposed centre have rich 
                                experience in data collection, curation and maintenance. This experience will be mobilised when the centre takes off. 
                                More importantly, steps will be taken to continually build human and institutional capacity in these areas. 
                                Data collection will be through appropriate instruments, which will involve both online surveys and other face-to-face 
                                techniques as found appropriate. All instruments will be validated, and reliability tested before administration. 
                                Data entry, storage and analysis will be guided by data regulations in the Centre. All quantitative analysis will be on 
                                SPSS while qualitative will be largely by content analysis and trend analysis as found appropriate.  
                                Beyond publication in peer-reviewed journals, research reports from the Centre will be shared with governments, 
                                policymakers and other stakeholders in the industry in periodic dissemination workshops.
                                
                                <br> <br>
                                <b>Dissemination of research results:</b> 
                                Research results of the proposed Centre will be widely disseminated via a multiplicity of outlets and channels 
                                including scholarly journals, public media, social media and books.
                                <br> <br>
                                <b> Prospects for contract research:</b> 
                                While Lagos State University and staff of the proposed Centre have benefitted from contract research outsourced by other 
                                agencies, no policy current exists for issuing such contracts. Early in the life of the Centre, policies for contract 
                                research will be developed and worked through the statutory approval processes of the university. \
                                Appropriate clauses in the policy will separate the centre-wide research activities from contract research in terms of 
                                revenue distribution and ownership and guidelines for the dissemination of research findings.
                                <br> <br>

                                The accomplishment of the research plan over the lifetime of the proposed Centre will be pursued via two means – staff (academic) 
                                engagement in research studies within the study areas and students (Master’s and PhD) research. In terms on milestones and anticipated
                                 deliverables, on the one hand, staff, and together with students in the Centre will deliver seminar from time to time and attend 
                                 conferences where research findings will be disseminated. This will commence within the first semester of the launch of the Centre. 
                                 On the other hand, students (Master’s and PhD) will culminate into theses and dissertations as part of the requirements for the award
                                  of their respective degrees. This will start to come in after three semesters of launch of the Centre (for Master’s students) and 
                                  after a minimum of three years (for PhD students). Research findings from the Centre will be published in reputable international, 
                                  academic and peer-reviewed journals for global dissemination. Currently, the faculty has the capacity to commence the research 
                                  activities of the proposed Center. However, there will be need for improvement in terms of human resources (faculty expertise) and 
                                  facilities (as enumerated in section Va). -->
                                  <%-file.content%>
                        </p>
                        <br><br>
                    </div>
                </div>
    
                <!-- sideNav -->
                <% include ../partials/sideNav.ejs %>
            </div>
    
            
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ../partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>