<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>RETENTION AND SUPPORT | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">
    <style>
        
    </style>

</head>

<body>
    <!-- Preloader -->
    <% include ./partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/ttt.JPG);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">RETENTION AND SUPPORT</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar">
                        <br>
                        <p>International students deserve international treatment. To retain and support students that have come from outside
                        Nigeria, we will constitute and genuinely work with various committees of students to proactively address problems and
                        deal with any grievances swiftly. We will also put in place a monitoring and mentoring system under the leadership of a
                        Faculty staff not below the rank of Associate Professor. The system, which will be discipline-based will help to keep
                        the students focused and be guided by an expert and accomplished individual in their respective chosen field.</p> 
                        <p>Short courses for mid-career professionals as identified in section II and II shall form an integral part of the
                        proposed Centre. The skill identified in our short courses are universal and will attract participants from both the
                        African region and beyond. There will also be room to develop and include other short courses that will also have
                        regional focus that will attract participants from across Africa. The strategies that will be employed to recruit
                        regional students for these short courses will be similar to those to recruit regional students into our postgraduate
                        programmes. However, the involvement of foreign Ministries of Education, and other relevant agencies within the region
                        will be involved as many of our short courses will be beneficial to even their staff.</p> <br><br>
                    </div>
                </div>
    
                <!-- sideNav -->
                <% include ./partials/sideNav.ejs %>
            </div>
    
    
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ./partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>