<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>SKILLS GAPPED TO.. | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">
    <style>
         .this{
            list-style-type: disc;
            list-style-position: inside;
            padding: 5px;
        }
     </style>
</head>

<body>
    <!-- Preloader -->
    <% include ../partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('<%-file.newImg%>');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">SKILLS GAPS TO BE BRIDGED BY THE PROPOSED CENTRE</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    
    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar">
                        <br>
                        <!-- page main post -->
                        <p><%- file.content%></p>
                        <!-- <p>
                            The skills gaps to be bridged by the proposed centre are: <br> <br> 
                        </p>
                        <form action="">
                            <ul class="this">
                                <li class="this">Weak STEM practical skills and hence inability to organise effective laboratory classes for their students</li>
                                <li class="this">Inadequate exposure to teaching practice  </li>
                                <li class="this">Poor classroom management and control   </li>
                                <li class="this">Poor computer skills  </li>
                                <li class="this">Lack of self-reliant and entrepreneurial skills</li>
                            
                            </ul>
                        </form> -->
                        <br><br>
                    </div>
                </div>
    
                <!-- sideNav -->
                <% include ../partials/sideNav.ejs %>
            </div>
    
            
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ../partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>