<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>TEAM | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">

</head>

<body>
    <!-- Preloader -->
    <% include ../partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/ttt.JPG);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Centre Leaders</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    <section class="our-skills-area text-center section-padding-50-0">
        <div class="container">
            <h1>Meet Our Team</h1><br>
            <div class="row">
                <div class="col-12 col-sm-3 col-md-3 col-lg-4 team">
                    <img src="img/core-img/fagbohun.jpg" alt="">
                    <p>Professor Olanrewaju Adigun Fagbohun <br> Vice Chancellor</p>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-4">
                    <img src="img/core-img/oke.jpg" alt="">
                    <p>Professor Peter Okebukola <br> ACE Centre Director</p>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-4">
                    <img src="img/core-img/owolabi.jpg" alt="">
                    <p>Professor Tunde Owolabi <br> ACE Centre Deputy Director</p>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-">
                    <img src="img/core-img/sanni.jpg" alt="">
                    <p>Dr. Rasheed Sanni<br> ACE Academic Programme Cordinator</p>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <img src="img/core-img/akintoye.jpg" alt="">
                    <p>Dr. Hakeem Akintoye<br> ACE Industrial Liaison Officer</p>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <img src="img/core-img/danmole.jpg" alt="">
                    <p>Professor Bolanle Danmole<br> Research Team I Leader</p>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <img src="img/core-img/nwanboku.jpg" alt="">
                    <p>Professor Nwaboku<br> Research Team II Leader</p>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <img src="img/core-img/avatar.jpg" alt="">
                    <p>Dr. Michael Ahove<br> Applied Reaserch Coordinator</p>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <img src="img/core-img/avatar.jpg" alt="">
                    <p>Professor Ayodeji Abari <br> Research Team III Leader</p>
                </div>
                
            </div>
        </div>
    </section>

    <!-- ***** Footer Area Start ***** -->
    <% include ../partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>