<div class="col-12 col-lg-4">
    <div class="medilife-blog-sidebar-area">
        <!-- Latest News -->
        <div class="latest-news-widget-area mb-50">
            <h5>Latest News</h5>
            <div class="widget-blog-post">
                <!-- Single Blog Post -->
                <div class="widget-single-blog-post d-flex align-items-center">
                    <div class="widget-post-thumbnail pr-3">
                        <img src="img/class.jpg" alt="">
                    </div>
                    <div class="widget-post-content">
                        <a href="#">A big discovery for medicine</a>
                        <p>Dec 02, 2017</p>
                    </div>
                </div>
                <!-- Single Blog Post -->
                <div class="widget-single-blog-post d-flex align-items-center">
                    <div class="widget-post-thumbnail pr-3">
                        <img src="img/g2.jpg" alt="">
                    </div>
                    <div class="widget-post-content">
                        <a href="#">Dentistry for everybody</a>
                        <p>Dec 02, 2017</p>
                    </div>
                </div>
                <!-- Single Blog Post -->
                <div class="widget-single-blog-post d-flex align-items-center">
                    <div class="widget-post-thumbnail pr-3">
                        <img src="img/class.jpg" alt="">
                    </div>
                    <div class="widget-post-content">
                        <a href="#">When it’s time to take pills</a>
                        <p>Dec 02, 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>