<nav class="col-md-2 d-md-block bg-light sidebar pd-2 mt-3">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link <%= (active == 'dashboard') ? 'active' : '' %>" href="/dashboard">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target="#homeNav"><span data-feather="book"></span> Home Content <i class="fa fa-caret-down text-left pl-3"> </i></a>
        <ul class="collapse navbar-collapse" id="homeNav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/slider"> Sliders</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= (active == 'news') ? 'active' : '' %>" href="/dashboard/news">
          <span data-feather="bar-chart-2"></span>
          News
        </a>
      </li>
      <li class="nav-item"><hr/></li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/authorizeadmins">
          <span data-feather="file"></span>
          CMS Admins
        </a>
      </li>
      <li class="nav-item"><hr/></li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="external-link"></span>
          View Website
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-none justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2 d-none">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li>
    </ul>
  </div>
</nav>