<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>TEAM | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">
    <style>
        .w3-container ol li{
            list-style-type:circle;
        }
        .team{
            height: 300px;
        }
    </style>

</head>

<body>
    <!-- Preloader -->
    <% include ./partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/core-img/front.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">About us</h3>
                        <p>Centre for Innovative and Transformative STEM Eduction</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Features Area Start ***** -->
    <div class="medilife-features-area section-padding-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="features-content">
                        <h2>Vision</h2>
                        <p>To promote excellence in the teaching and learning of science, technology, engineering and mathematics (STEM) through
                        culturally-relevant, innovative and transformative models for addressing regional development challenges.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="features-thumbnail">
                        <img src="img/core-img/front2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="medilife-features-area section-padding-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="features-thumbnail">
                        <img src="img/core-img/front3.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="features-content">
                        <h2>Mission</h2>
                        <p>To produce innovative and transformative teachers that will inspire learning in STEM subjects through the delivery of a
                        range of engaging, contextual and technology-mediated teacher professional development programmes for addressing
                        regional development challenges.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="medilife-features-area section-padding-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="features-content w3-container w3-pale-blue w3-rightbar w3-border-blue">
                        <h2>Objectives</h2>
                        <ol>
                            <li>To offer unique, qualitative and transformative training aimed at promoting excellence and innovation in STEM teaching,
                            development of 21st century skills and leadership.</li>
                            <li>To serve as a train-the-trainers’ centre of excellence for skilled STEM master teachers who will later undertake
                            training of other teachers and school leaders and policy makers.</li>
                            <li>To develop and apply models of innovative STEM teaching and learning based on cutting-edge research and practice.</li>
                            <li>To address science and technology-related national and regional development challenges through the provision of
                            better-trained STEM teachers.</li>
                            <li>To undertake continuous monitoring of the critical mass of master teachers trained by the Centre in institutions
                            where they are multiplying their innovative and transformative skills.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Features Area End ***** -->

    <!-- ***** Skilss Area Start ***** -->
    <section class="our-skills-area text-center section-padding-50-0">
        <div class="container">
            <h1>Collaborators</h1><br>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <img src="img/core-img/p1.jpg" alt="">
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <img src="img/core-img/p2.jpg" alt="">
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <img src="img/core-img/p3.jpg" alt="">
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <img src="img/core-img/p4.jpg" alt="">
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <img src="img/core-img/p6.jpg" alt="">
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <img src="img/core-img/p5.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="our-skills-area text-center section-padding-50-0">
        <div class="container">
            <h1>Meet Our Distinguished Team</h1><br>
            <div class="row">
                <div class="col-12 col-sm-3 col-md-3 col-lg-4 team">
                    <img src="img/core-img/fagbohun.jpg" alt="">
                    <p>Professor Olanrewaju Adigun Fagbohun <br> Vice Chancellor</p>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-4">
                    <img src="img/core-img/oke.jpg" alt="">
                    <p>Professor Peter Okebukola <br> ACE Centre Director</p>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-4">
                    <img src="img/core-img/owolabi.jpg" alt="">
                    <p>Professor Tunde Owolabi <br> ACE Centre Deputy Director</p>
                </div>
                <a href="/team" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Meet All<span>+</span></a>
            </div>
        </div>
    </section>
    <!-- ***** Skills Area End ***** -->

    <!-- ***** Tabs Area Start ***** -->
    <section class="medilife-tabs-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="medilife-tabs-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="institution-tab" data-toggle="tab" href="#institution" role="tab"
                                    aria-controls="institution" aria-selected="false">Institution</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq"
                                    aria-selected="false">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="specialities-tab" data-toggle="tab" href="#specialities"
                                    role="tab" aria-controls="specialities" aria-selected="true">Specialities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="laboratory-tab" data-toggle="tab" href="#laboratory" role="tab"
                                    aria-controls="laboratory" aria-selected="false">Laboratory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="emergencies-tab" data-toggle="tab" href="#emergencies" role="tab"
                                    aria-controls="emergencies" aria-selected="false">Emergencies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="scolarship-tab" data-toggle="tab" href="#scolarship" role="tab"
                                    aria-controls="scolarship" aria-selected="false">Scolarship Programs</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade" id="institution" role="tabpanel" aria-labelledby="institution-tab">
                                <div class="medilife-tab-content d-md-flex align-items-center">
                                    <!-- Medilife Tab Text  -->
                                    <div class="medilife-tab-text">
                                        <h2>Take a look at this</h2>
                                        <p>Current Strategic Plan for the University
                                        (2016-2021) approved by the Council is in
                                        line with global best practices to guide the
                                        activities of the institution in the formulation
                                        of developmental goal oriented conception.</p>
                                    </div>
                                    <!-- Medilife Tab Img  -->
                                    <div class="medilife-tab-img">
                                        <img src="img/core-img/lasuvision.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                                <div class="medilife-tab-content d-md-flex align-items-center">
                                    <!-- Medilife Tab Text  -->
                                    <div class="medilife-tab-text">
                                        <h2>Take a look at this</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem
                                            ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit
                                            amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing eli sed diam nonummy nibh euismod tincidunt ut
                                            laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing eli.</p>
                                    </div>
                                    <!-- Medilife Tab Img  -->
                                    <div class="medilife-tab-img">
                                        <img src="img/bg-img/medical1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="specialities" role="tabpanel" aria-labelledby="specialities-tab">
                                <div class="medilife-tab-content d-md-flex align-items-center">
                                    <!-- Medilife Tab Text  -->
                                    <div class="medilife-tab-text">
                                        <h2>Take a look at this</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem
                                            ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit
                                            amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing eli sed diam nonummy nibh euismod tincidunt ut
                                            laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing eli.</p>
                                    </div>
                                    <!-- Medilife Tab Img  -->
                                    <div class="medilife-tab-img">
                                        <img src="img/bg-img/tab.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="laboratory" role="tabpanel" aria-labelledby="laboratory-tab">
                                <div class="medilife-tab-content d-md-flex align-items-center">
                                    <!-- Medilife Tab Text  -->
                                    <div class="medilife-tab-text">
                                        <h2>Take a look at this</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem
                                            ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit
                                            amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing eli sed diam nonummy nibh euismod tincidunt ut
                                            laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing eli.</p>
                                    </div>
                                    <!-- Medilife Tab Img  -->
                                    <div class="medilife-tab-img">
                                        <img src="img/bg-img/medical1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="emergencies" role="tabpanel" aria-labelledby="emergencies-tab">
                                <div class="medilife-tab-content d-md-flex align-items-center">
                                    <!-- Medilife Tab Text  -->
                                    <div class="medilife-tab-text">
                                        <h2>Take a look at this</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem
                                            ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit
                                            amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing eli sed diam nonummy nibh euismod tincidunt ut
                                            laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing eli.</p>
                                    </div>
                                    <!-- Medilife Tab Img  -->
                                    <div class="medilife-tab-img">
                                        <img src="img/bg-img/about1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="scolarship" role="tabpanel" aria-labelledby="scolarship-tab">
                                <div class="medilife-tab-content d-md-flex align-items-center">
                                    <!-- Medilife Tab Text  -->
                                    <div class="medilife-tab-text">
                                        <h2>Take a look at this</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem
                                            ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit
                                            amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                            ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing eli sed diam nonummy nibh euismod tincidunt ut
                                            laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                                            consectetuer adipiscing eli.</p>
                                    </div>
                                    <!-- Medilife Tab Img  -->
                                    <div class="medilife-tab-img">
                                        <img src="img/bg-img/medical1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Tabs Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <% include ./partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>