<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>ACE - Africa Centre of Excellence | Home</title>

  <!-- Favicon  -->
  <link rel="icon" href="img/core-img/Africa.png">

  <!-- Style CSS -->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="css/w3.css">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="medilife-load"></div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 h-100">
            <div class="h-100 d-md-flex justify-content-between align-items-center">
              <p>Welcome to <span>Africa</span> Centre of Excellence</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Header Area -->
    <div class="main-header-area" id="stickyHeader">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 h-100">
            <div class="main-menu h-100">
              <nav class="navbar h-100 navbar-expand-lg">
                <!-- Logo Area  -->
                <a class="navbar-brand" href="index.html" style="color: 	 #006bb3;"><img src="img/core-img/Africa.png"
                    alt="Logo" style="height: 100px;">Africa Centre of Excellence | ACE</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu"
                  aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="medilifeMenu">
                  <!-- Menu Area -->
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Pages</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="index.html">Home</a>
                        <a class="dropdown-item" href="about-us.html">About Us</a>
                        <a class="dropdown-item" href="services.html">Services</a>
                        <a class="dropdown-item" href="blog.html">News</a>
                        <a class="dropdown-item" href="single-blog.html">News Details</a>
                        <a class="dropdown-item" href="contact.html">Contact</a>
                        <a class="dropdown-item" href="elements.html">Elements</a>
                        <a class="dropdown-item" href="index-icons.html">All Icons</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="blog.html">News</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Hero Area Start ***** -->
  <section class="hero-area">
    <div class="hero-slides owl-carousel">
      <!-- Single Hero Slide -->
      <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/lASUarial.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Africa Centre <br>of Excellence for Innotive and Transformative STEM Eduation</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit sed diam nonummy nibh euismod.</h6>
                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover
                  Medifile <span>+</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Hero Slide -->
      <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/lASUjambites.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Africa Centre <br>of Excellence for Innotive and Transformative STEM Eduation</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit sed diam nonummy nibh euismod.</h6>
                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover
                  Medifile <span>+</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Hero Slide -->
      <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/9.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Africa Centre <br>of Excellence for Innotive and Transformative STEM Eduation</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit sed diam nonummy nibh euismod.</h6>
                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover
                  Medifile <span>+</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Hero Area End ***** -->

  <!-- ***** Book An Appoinment Area Start ***** -->
  <div class="medilife-book-an-appoinment-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="appointment-form-content">
            <div class="row no-gutters align-items-center">
              <div class="col-12 col-lg-9">
                <div class="medilife-appointment-form">
                  <form action="#" method="post">
                    <div class="row align-items-end">
                      <div class="col-12 col-md-12">
                        <h3 style="color: white; font-style: italic;">Contact us and we'll reply you within the
                          shortest period</h3>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="form-group">
                          <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="name"
                            id="name" placeholder="Name">
                        </div>
                      </div>
                      <div class="col-12 col-md-4">
                        <div class="form-group">
                          <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="number"
                            id="number" placeholder="Phone">
                        </div>
                      </div>
                      <div class="col-12 col-md-4">
                        <div class="form-group">
                          <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="email"
                            id="email" placeholder="E-mail">
                        </div>
                      </div>
                      <div class="col-12 col-md-7">
                        <div class="form-group mb-0">
                          <textarea name="message" class="form-control mb-0 border-top-0 border-right-0 border-left-0"
                            id="message" cols="30" rows="10" placeholder="Message"></textarea>
                        </div>
                      </div>
                      <div class="col-12 col-md-5 mb-0">
                        <div class="form-group mb-0">
                          <button type="submit" class="btn medilife-btn">Send <span>+</span></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-12 col-lg-3">
                <div class="medilife-contact-info">
                  <!-- Single Contact Info -->
                  <div class="single-contact-info mb-30">
                    <img src="img/icons/alarm-clock.png" alt="">
                    <p>Mon - Sat 08:00 - 21:00 <br>Sunday CLOSED</p>
                  </div>
                  <!-- Single Contact Info -->
                  <div class="single-contact-info mb-30">
                    <img src="img/icons/envelope.png" alt="">
                    <p>08093481350 <br>olabiranj@gmail.com</p>
                  </div>
                  <!-- Single Contact Info -->
                  <div class="single-contact-info">
                    <img src="img/icons/map-pin.png" alt="">
                    <p>Lagos State University, Ojo, <br>Lagos, Nigeria.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Book An Appoinment Area End ***** -->

  <!-- ***** About Us Area Start ***** -->
  <section class="medica-about-us-area section-padding-100-20">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class=" w3-container w3-pale-blue w3-leftbar w3-border-blue"><br>
            <h3 style="font-style:italic"><span class="fa fa-quote-left"></span> Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Dicta, necessitatibus. Consequuntur quidem quisquam
              repudiandae provident magni id fuga
              dolor praesentium, minima enim reprehenderit ab deserunt neque ea voluptates accusamus amet. Lorem ipsum
              dolor sit amet consectetur,
              adipisicing elit. Autem aperiam et laudantium voluptas perferendis a, ipsum, quo cum vitae dicta impedit
              fugiat minima facere natus
              nihil voluptatum blanditiis quam repellat accusamus alias accusantium!
              Ipsam perspiciatis dolore hic ipsa corporis doloremque? <span class="fa fa-quote-right"></span><br>
              -Okebukola</h3>

          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-sm-12">
              <img class="img-responsive" src="img/core-img/oke.jpg" alt="oke">
            </div>
            <!-- Single Service Area -->
            <div class="col-12 col-sm-12"><br>
              <h4>Peter A. Okebukola</h4>
              <h5>DSc, PhD, FSAN, FSTAN, FIAE, DSSE, GIOH, OFR</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** About Us Area End ***** -->


  <!-- ***** Cool Facts Area End ***** -->

  <!-- ***** Gallery Area Start ***** -->
  <div class="medilife-gallery-area owl-carousel">
    <!-- Single Gallery Item -->
    <div class="single-gallery-item">
      <img src="img/bg-img/823447562-612x612.jpg" alt="">
      <div class="view-more-btn">
        <a href="img/bg-img/g1.jpg" class="btn gallery-img">See More +</a>
      </div>
    </div>
    <!-- Single Gallery Item -->
    <div class="single-gallery-item">
      <img src="img/bg-img/Engineering-EDIWeekly.jpg" alt="">
      <div class="view-more-btn">
        <a href="img/bg-img/g2.jpg" class="btn gallery-img">See More +</a>
      </div>
    </div>
    <!-- Single Gallery Item -->
    <div class="single-gallery-item">
      <img src="img/bg-img/program-mech-eng.jpg" alt="">
      <div class="view-more-btn">
        <a href="img/bg-img/g3.jpg" class="btn gallery-img">See More +</a>
      </div>
    </div>

    <!-- Single Gallery Item -->
    <div class="single-gallery-item">
      <img src="img/bg-img/g4.jpg" alt="">
      <div class="view-more-btn">
        <a href="img/bg-img/g4.jpg" class="btn gallery-img">See More +</a>
      </div>
    </div>
  </div>
  <!-- ***** Gallery Area End ***** -->

  <!-- ***** Features Area Start ***** -->
  <div class="medilife-features-area section-padding-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div class="features-content">
            <h2>Science Technology Education Mathematics</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
              laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli.Lorem
              ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="features-thumbnail">
            <img src="img/bg-img/pie-chart-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Features Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <div class="medilife-blog-area">
    <div class="container">
      <h2>Upcoming Events</h2>
      <div class="row">
        <!-- Single Blog Area -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-area mb-100">
            <!-- Post Thumbnail -->
            <div class="blog-post-thumbnail">
              <img src="img/bg-img/1_K-KBZibosQdbVxTeibhUzw.png" alt="">
              <!-- Post Date -->
              <div class="post-date">
                <a href="#">Jan 23, 2019</a>
              </div>
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <div class="post-author">
                <a href="#"><img src="img/core-img/Professor-Peter-Okebukola-281x158.jpg" alt=""></a>
              </div>
              <a href="#" class="headline">Freshers' Orientation Programme </a>
              <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
              <a href="#" class="comments">3 Comments</a>
            </div>
          </div>
        </div>
        <!-- Single Blog Area -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-area mb-100">
            <!-- Post Thumbnail -->
            <div class="blog-post-thumbnail">
              <img src="img/bg-img/stem-e1496859081202.png" alt="">
              <!-- Post Date -->
              <div class="post-date">
                <a href="#">Jan 23, 2019</a>
              </div>
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <div class="post-author">
                <a href="#"><img src="img/core-img/oke.jpg" alt=""></a>
              </div>
              <a href="#" class="headline">STEM Annual meeting</a>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, obcaecati.</p>
              <a href="#" class="comments">3 Comments</a>
            </div>
          </div>
        </div>
        <!-- Single Blog Area -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-area mb-100">
            <!-- Post Thumbnail -->
            <div class="blog-post-thumbnail">
              <img src="img/bg-img/LASUJambites.jpg" alt="">
              <!-- Post Date -->
              <div class="post-date">
                <a href="#">Jan 23, 2019</a>
              </div>
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <div class="post-author">
                <a href="#"><img src="img/core-img/prof-okebukola-frame.png" alt=""></a>
              </div>
              <a href="#" class="headline">30th LASU Convocation</a>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, obcaecati.</p>
              <a href="#" class="comments">3 Comments</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Blog Area End ***** -->



  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-100">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
      <div class="container-fluid">
        <div class="row">

          <div class="col-12 col-sm-6 col-xl-3">
            <div class="footer-widget-area">
              <div class="footer-logo">
                <img src="img/core-img/Africa.png" alt="" style="height: 200px;">
              </div>
              <p>Africa Centre of Excellence (ACE)</p>
              <div class="footer-social-info">
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-xl-3">
            <div class="footer-widget-area">
              <div class="widget-title">
                <h6>Latest News</h6>
              </div>
              <div class="widget-blog-post">
                <!-- Single Blog Post -->
                <div class="widget-single-blog-post d-flex">
                  <div class="widget-post-thumbnail">
                    <img src="img/blog-img/ln1.jpg" alt="">
                  </div>
                  <div class="widget-post-content">
                    <a href="#">Better Health Care</a>
                    <p>Dec 02, 2017</p>
                  </div>
                </div>
                <!-- Single Blog Post -->
                <div class="widget-single-blog-post d-flex">
                  <div class="widget-post-thumbnail">
                    <img src="img/blog-img/ln2.jpg" alt="">
                  </div>
                  <div class="widget-post-content">
                    <a href="#">A new drug is tested</a>
                    <p>Dec 02, 2017</p>
                  </div>
                </div>
                <!-- Single Blog Post -->
                <div class="widget-single-blog-post d-flex">
                  <div class="widget-post-thumbnail">
                    <img src="img/blog-img/ln3.jpg" alt="">
                  </div>
                  <div class="widget-post-content">
                    <a href="#">Health department advice</a>
                    <p>Dec 02, 2017</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-xl-6">
            <div class="footer-widget-area">
              <div class="widget-title">
                <h6>News Letter</h6>
              </div>

              <div class="footer-newsletter-area">
                <form action="#">
                  <input type="email" class="form-control border-0 mb-0" name="newsletterEmail" id="newsletterEmail"
                    placeholder="Your Email Here">
                  <button type="submit">Subscribe</button>
                </form>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="bottom-footer-content">
              <!-- Copywrite Text -->
              <div class="copywrite-text">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script> All rights reserved | This website was
                  built with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">LASUCODES
                    TEAM</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- jQuery (Necessary for All JavaScript Plugins) -->
  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="js/plugins.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>

</body>

</html>
