<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>Home | CITSE - Africa Centre of Excellence</title>

  <!-- Favicon  -->
  <link rel="icon" href="img/core-img/Africa.png">

  <!-- Style CSS -->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="css/w3.css">

</head>

<body>
  <!-- Preloader -->
  <% include ./partials/navbar.ejs %>

  <!-- ***** Hero Area Start ***** -->
  <section class="hero-area">
    <div class="hero-slides owl-carousel">
      <!-- Single Hero Slide -->
      <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/lASUarial.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Africa Centre <br>of Excellence for Innotive and Transformative STEM Eduation</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit sed diam nonummy nibh euismod.</h6>
                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover
                  Medifile <span>+</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Hero Slide -->
      <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/lASUjambites.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Africa Centre <br>of Excellence for Innotive and Transformative STEM Eduation</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit sed diam nonummy nibh euismod.</h6>
                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover
                  Medifile <span>+</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Hero Slide -->
      <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/9.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Africa Centre <br>of Excellence for Innotive and Transformative STEM Eduation</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit sed diam nonummy nibh euismod.</h6>
                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover
                  Medifile <span>+</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Hero Area End ***** -->

  <!-- ***** Book An Appoinment Area Start ***** -->
  <div class="medilife-book-an-appoinment-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="appointment-form-content">
            <div class="row no-gutters align-items-center">
              <div class="col-12 col-lg-9">
                <div class="medilife-appointment-form">
                  <form action="#" method="post">
                    <div class="row align-items-end">
                      <div class="col-12 col-md-12">
                        <h3 style="color: white; font-style: italic;">Contact us and we'll reply you within the
                          shortest period</h3>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="form-group">
                          <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="name"
                            id="name" placeholder="Name">
                        </div>
                      </div>
                      <div class="col-12 col-md-4">
                        <div class="form-group">
                          <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="number"
                            id="number" placeholder="Phone">
                        </div>
                      </div>
                      <div class="col-12 col-md-4">
                        <div class="form-group">
                          <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="email"
                            id="email" placeholder="E-mail">
                        </div>
                      </div>
                      <div class="col-12 col-md-7">
                        <div class="form-group mb-0">
                          <textarea name="message" class="form-control mb-0 border-top-0 border-right-0 border-left-0"
                            id="message" cols="30" rows="10" placeholder="Message"></textarea>
                        </div>
                      </div>
                      <div class="col-12 col-md-5 mb-0">
                        <div class="form-group mb-0">
                          <button type="submit" class="btn medilife-btn">Send <span>+</span></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-12 col-lg-3">
                <div class="medilife-contact-info">
                  <!-- Single Contact Info -->
                  <div class="single-contact-info mb-30">
                    <img src="img/icons/alarm-clock.png" alt="">
                    <p>Mon - Sat 08:00 - 21:00 <br>Sunday CLOSED</p>
                  </div>
                  <!-- Single Contact Info -->
                  <div class="single-contact-info mb-30">
                    <img src="img/icons/envelope.png" alt="">
                    <p>08093481350 <br>olabiranj@gmail.com</p>
                  </div>
                  <!-- Single Contact Info -->
                  <div class="single-contact-info">
                    <img src="img/icons/map-pin.png" alt="">
                    <p>Lagos State University, Ojo, <br>Lagos, Nigeria.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Book An Appoinment Area End ***** -->

  <!-- ***** About Us Area Start ***** -->
  <section class="medica-about-us-area section-padding-100-20">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class=" w3-container w3-pale-blue w3-leftbar w3-border-blue"><br>
            <h3 style="font-style:italic"><span class="fa fa-quote-left"></span> Over
            the last 20 years, 128 science and technology education graduates of LASU have won excellence awards in State and
            national competitions for their innovative teaching
            in public and private competitions for their innovative teaching in public and private secondary schools. This, in large part, is
            reflective of the training secondary recieved<span class="fa fa-quote-right"></span><br>
              -Okebukola</h3>

          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-sm-12">
              <img class="img-responsive" src="img/core-img/oke.jpg" alt="oke">
            </div>
            <!-- Single Service Area -->
            <div class="col-12 col-sm-12"><br>
              <h4>Peter A. Okebukola</h4>
              <h5>DSc, PhD, FSAN, FSTAN, FIAE, DSSE, GIOH, OFR</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** About Us Area End ***** -->


  <!-- ***** Cool Facts Area End ***** -->

  <!-- ***** Gallery Area Start ***** -->
  <div class="medilife-gallery-area owl-carousel">
    <!-- Single Gallery Item -->
    <div class="single-gallery-item">
      <img src="img/bg-img/823447562-612x612.jpg" alt="">
      <div class="view-more-btn">
        <a href="img/bg-img/g1.jpg" class="btn gallery-img">See More +</a>
      </div>
    </div>
    <!-- Single Gallery Item -->
    <div class="single-gallery-item">
      <img src="img/bg-img/Engineering-EDIWeekly.jpg" alt="">
      <div class="view-more-btn">
        <a href="img/bg-img/g2.jpg" class="btn gallery-img">See More +</a>
      </div>
    </div>
    <!-- Single Gallery Item -->
    <div class="single-gallery-item">
      <img src="img/bg-img/program-mech-eng.jpg" alt="">
      <div class="view-more-btn">
        <a href="img/bg-img/g3.jpg" class="btn gallery-img">See More +</a>
      </div>
    </div>

    <!-- Single Gallery Item -->
    <div class="single-gallery-item">
      <img src="img/bg-img/g4.jpg" alt="">
      <div class="view-more-btn">
        <a href="img/bg-img/g4.jpg" class="btn gallery-img">See More +</a>
      </div>
    </div>
  </div>
  <!-- ***** Gallery Area End ***** -->

  <!-- ***** Features Area Start ***** -->
  <div class="medilife-features-area section-padding-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div class="features-content">
            <h2>Science Technology Education Mathematics</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
              laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli.Lorem
              ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="features-thumbnail">
            <img src="img/bg-img/pie-chart-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Features Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <div class="medilife-blog-area">
    <div class="container">
      <h2>Upcoming Events</h2>
      <div class="row">
        <!-- Single Blog Area -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-area mb-100">
            <!-- Post Thumbnail -->
            <div class="blog-post-thumbnail">
              <img src="img/bg-img/1_K-KBZibosQdbVxTeibhUzw.png" alt="">
              <!-- Post Date -->
              <div class="post-date">
                <a href="#">Jan 23, 2019</a>
              </div>
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <div class="post-author">
                <a href="#"><img src="img/core-img/Professor-Peter-Okebukola-281x158.jpg" alt=""></a>
              </div>
              <a href="#" class="headline">Freshers' Orientation Programme </a>
              <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
              <a href="#" class="comments">3 Comments</a>
            </div>
          </div>
        </div>
        <!-- Single Blog Area -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-area mb-100">
            <!-- Post Thumbnail -->
            <div class="blog-post-thumbnail">
              <img src="img/bg-img/stem-e1496859081202.png" alt="">
              <!-- Post Date -->
              <div class="post-date">
                <a href="#">Jan 23, 2019</a>
              </div>
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <div class="post-author">
                <a href="#"><img src="img/core-img/oke.jpg" alt=""></a>
              </div>
              <a href="#" class="headline">STEM Annual meeting</a>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, obcaecati.</p>
              <a href="#" class="comments">3 Comments</a>
            </div>
          </div>
        </div>
        <!-- Single Blog Area -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-area mb-100">
            <!-- Post Thumbnail -->
            <div class="blog-post-thumbnail">
              <img src="img/bg-img/LASUJambites.jpg" alt="">
              <!-- Post Date -->
              <div class="post-date">
                <a href="#">Jan 23, 2019</a>
              </div>
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <div class="post-author">
                <a href="#"><img src="img/core-img/prof-okebukola-frame.png" alt=""></a>
              </div>
              <a href="#" class="headline">30th LASU Convocation</a>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, obcaecati.</p>
              <a href="#" class="comments">3 Comments</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Blog Area End ***** -->



  <!-- ***** Footer Area Start ***** -->
    <% include ./partials/footer.ejs %>
  <!-- ***** Footer Area End ***** -->

  <!-- jQuery (Necessary for All JavaScript Plugins) -->
  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="js/plugins.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>

</body>

</html>
