<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>INDUSTRIAL/SECTORIAL PARTNASHIP | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">
    <style>
        .this{
           list-style-type: disc;
           list-style-position: inside;
           padding: 5px;
       }
    </style>
</head>
</head>

<body>
    <!-- Preloader -->
    <% include ./partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/6.JPG);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">INDUSTRIAL/SECTORIAL PARTNASHIP</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    
    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar">
                        <br>
                        <p>
                                The industrial/sectoral partners of the proposed Centre will play a major role in the actualisation of its vision, mission and objectives. 
                                The proposed Centre will work in partnership with Ministries of Education at both the federal and state levels; teacher training institutions 
                                like Colleges of Education and University Faculties of Education; assessment institutions like WAEC, NECO, and JAMB; NGOs with specialised 
                                technical knowledge in education.  In relation to the proposed Centre, the Faculty has opened discussions with potential partners 
                                (both national and regional). We have discussed their expected involvement and the benefit that they should expect from participation. 
                                They now have a complete understanding of the development challenge, what aspects of the development challenge can be addressed, the skills 
                                gaps, and the applied research needs.  Consultations made so far, and the model of engagement are described below.

                                <br> <br>

                               <b>Consultations with sectoral partners:</b> 
                               Preliminary but extensive consultations were held with a number of sectoral partners. 
                               These include top officials of the Lagos State Ministry of Education, Heads of reputable public and private 
                               secondary schools in Nigeria, Vice-Chancellors of universities, leadership of science teachers associations, 
                               academies of science (Nigeria and Africa), a UNESCO Institute, leadership of the Nigerian Academy of Science, 
                               national and regional youth development centres and regional quality assurance networks. The key concepts that 
                               emerged from these consultations are (a) collaboration to deliver quality STEM teacher education; (b) partnerships 
                               for research; and (c) avenues for field studies and teaching practice for students of the proposed Centre. 
                               In the development of this proposal, many of the partners were part of the initial brainstorming session and 
                               review of the early drafts.
                               <br> <br>

                               <b>Model for engagement with partners:</b> 
                               The model for engagement is resource sharing- human and material towards a common goal of producing quality STEM teachers.
                                Examples of two successful partnerships are (1) LASU-Lagos State Government E-learning Partnership and 
                                (b) LASU-Lagos State EKO Project for training STEM teachers. The LASU-Lagos State Government E-learning partnership 
                                involved staff of the proposed Centre working with the Lagos State Government to break down the barriers to the 
                                meaningful teaching and learning of science using e-learning protocols. The partnership led to capacities being built on 
                                all sides. The EKO project was World Bank funded to bolster quality of STEM teachers. The funds were channelled through 
                                the Lagos State Government to LASU which in turn mobilised its staff to deliver training to STEM teachers in the State as 
                                ell as build their leadership skills.
                                <br> <br>

                                <b> why the partners were chosen</b>
                                <br> <br>
                                The partners were selected to be part of defining:
                                
                                <ul class="this">
                                    <li class="this">
                                        The applied research projects and research themes of the proposed centre,
                                    </li>
                                    <li class="this">
                                        The skills needs and curricula in current/new M.S. and Ph.D. programs, and
                                    </li>
                                    <li class="this">
                                        The short courses that will be offered to mid-career professionals.
                                    </li>
                                    <li class="this">
                                        Partners are expected to offer internships for students (and potentially faculty members), and to hire some graduates from the proposed Centre.
                                    </li>
                                </ul> <br> <br>

                                At the moment, the Faculty partners the Ministry of Education on the attachment of faculty students with serving teachers in public 
                                schools for teaching experience and on provision of in-service training for serving teachers. We are also in partnership with some 
                                Colleges of Education on provision of curriculum and supervision for award of degree certificates. These ongoing partnerships are 
                                yielding the anticipated results.

                                <br> <br>
                                The Faculty already has a detailed plan for financial support from the institutions mentioned above for short course delivery, 
                                tuition and supervision, and by extension the proposed Centre being a baby of the Faculty will benefit.
                                <br> <br>

                                There will be quarterly meetings with the partners where the activities of the Centre will be discussed with all partners and other 
                                stakeholders. The meetings will afford partners and other stakeholders opportunities not only to familiarise with the Centre but to also 
                                interact with the Centre personnel and the programmes. Such interactions will help shape the Centre’s applied research projects and research 
                                themes of the proposed centre, provide additional inputs into skills needs and curricula in current/new M.S. and Ph.D. programmes, 
                                and in respect of the short courses that will be offered to mid-career professionals.
                                <br> <br>
                                In addition, our quarterly meeting will afford opportunities to interact with the partners on how they can support the Centre through 
                                offer of internships for students and potentially faculty members, and providing job opportunities for some graduates from the proposed 
                                Center.  Another one of the strategy that the proposed Centre will employ to ensure students have the opportunity for internships as 
                                part of their training is by encouraging the partners to sponsor some of their staff who are desirous of higher degree in our Centre.
                                <br> <br>
                                <b>Plan for financial support:</b> Financial and non-financial support is expected from sectoral partners of the proposed Centre. 
                                This will include staff training and capacity building, donation of equipment and other facilities and support for research costs.
                                

                        </p>
                        <br><br>
                    </div>
                </div>
    
                <!-- sideNav -->
                <% include ./partials/sideNav.ejs %>
            </div>
    
            
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ./partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>