<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>JEC | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">

</head>

<body>
    <!-- Preloader -->
    <% include ./partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/ttt.JPG);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">JUSTIFICATION FOR ESTABLISHING THE CENTRE</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    
    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar ">
                        <br>
                        <p>The proposed Centre will contribute to addressing the developmental challenge through the production of innovative
                            and
                            transformative master teachers who will inspire learning in STEM subjects through the delivery of a range of
                            engaging,
                            contextual and technology-mediated teacher professional development programmes.
                        
                            Over the last two decades, there has been a growing demand in Nigeria and in other West African countries for
                            better
                            quality STEM teachers. Universities and other teacher preparation institutions in the sub-region have responded
                            with
                            strategic plans to step up their output of such teachers. Unfortunately, the results of implementing such plans
                            have
                            been unimpressive on account of resource deficits and the low student intake into the system. If this trend
                            continues,
                            a rather gloomy future has been predicted for socio-economic development of Nigeria and other countries in the
                            sub-region realising the critical roles of science and technology to development and the central role of STEM
                            teachers
                            in this enterprise (Okebukola, 2016; 2017). What is urgently needed are delivery systems that will address the
                            observed
                            deficiencies in training quality STEM teachers and provide a model for training master trainers in STEM subjects.
                            CISTE
                            will provide an excellent example of achieving this goal.
                        
                            The Science and Technology Education department of Lagos State University with all its programmes in full
                            accreditation
                            standing with the National Universities Commission is to host the proposed Centre. The department (in previous and
                            current nomenclatures) has a 30-year national and international reputation for innovative models of training STEM
                            teachers. At the national level, since 1988, staff and graduates of the department to host the proposed Centre have
                            been recognised at national workshops and conferences for their competence in delivering quality STEM education
                            (see
                            STAN Proceedings 1998-2017 and Proceedings of STAN workshops, 1988-2017 in biology, chemistry, physics,
                            mathematics,
                            computer studies and environmental education).
                        
                            At the international level, staff and students of the department to host the proposed Centre have been globally
                            recognised for their research-inspired innovative models of teaching STEM. In the last five years, no STEM
                            education
                            research group in Africa has been given competitive visibility at international conferences of the National
                            Association
                            of Research in Science Teaching (NARST), the world’s No. 1 STEM research group as the LASU group. Worthy of remark
                            also
                            is that the Director of the proposed Centre is the only African in the 80-year history of NARST to serve two
                            successful
                            terms on the Board of Directors of NARST and up until 2017, served as the chair of the Association’s most
                            prestigious
                            committee (see for example, NARST conference proceedings from 1998 to 2017).
                        
                            The rich corpus of experience and empirically-validated efficiency of the LASU group gives confidence that the
                            proposed
                            Centre will multiply several times, its impact in training innovative STEM teachers. The department also has
                            national
                            fame in e-learning delivery and training of teachers having successfully implemented the Lagos State
                            Government-Lagos
                            State University E-learning Programme for the highest number of students and teachers in one intervention session
                            in
                            Nigeria.</p>
                        <br><br>
                        <img src="img/blog-img/jec.png" alt=""><br><br>
                    </div>
                </div>
    
                <!-- sideNav -->
                <% include ./partials/sideNav.ejs %>
            </div>
    
            
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ./partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>