<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>JUSTIFICATION FOR ESTABLISHING THE CENTRE</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Twitter Card-->
    <meta name="title" content="JUSTIFICATION FOR ESTABLISHING THE CENTRE">
    <meta name="site" content="LASU-ACEITSE.ORG" />
    <meta name="creator" content="lasucode" />
    <meta name="description" content="This website is all about lagos state university africa center of Excellence">
    <!-- <meta name="twitter:image" content="img/icons/icon-96x96.png"> -->
    <!-- <meta name="twitter:card" content="img/icons/icon-96x96.png"> -->
    <!--Open Graph-->
    <meta property="og:image" content="img/icons/icon-96x96.png">
    <meta property="og:title" content="LASU-ACEITSE" />
    <meta name="author" content="lagos state university, professor okebukola">
    <meta property="og:description" content="This script checks your Date of Birth and detects the Day of the Week you were born." />
    <meta name="author" content="lasu, professor okebukola">
    <meta property="og:url" content="LASU-ACEITSE.ORG" />
    <meta property="og:site_name" content="LASU-ACEITSE" />
    <meta property="og:type" content="lagos state university africa center of Excellence" />

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">
</head>

<body>
    <% include ./partials/navbar.ejs %>
    








    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>