<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>PARTNERSHIP  | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">

</head>

<body>
    <!-- Preloader -->
    <% include ./partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/ttt.JPG);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">PARTNARSHIP WITH ACADEMIC INSTITUTIONS</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    
    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar">
                        <br>
                        
                        <b> In-country Partnerships:</b> The proposed Centre has secured/will finalise written commitments of Professors in STEM education from at 
                        least ten Nigerian universities including the Bells University of Technology, National Open University of Nigeria (NOUN), 
                        Caleb University, Crawford University, other relevant Faculties in Lagos State University (Science, Engineering, Arts, Social Sciences). 
                        These professors and their institutions will support the teaching and research activities of the Centre. They will contribute in terms of 
                        delivery of lectures, teaching online or virtual courses, sharing pedagogical innovations, contributing to the design of curricula and 
                        co-advising students.
                        <br> <br>

                        <b>Regional partnerships:</b> Professors and other senior academic staff in STEM education from Fourah Bay College,
                        University of Sierra Leone, University of Professional Studies, Ghana, The University of the Western Cape, 
                        South Africa, University of Education, Winneba, Ghana and the University of Burundi, Bujumbura have made 
                        commitments to partner the proposed Centre to support teaching, research and extension activities.
                        <br> <br>

                        <b>Global partnerships:</b> Commitment for academic partnership has been/is being secured for the proposed Centre outside Africa especially in the US, Canada and the UK. So far, we have firm commitment from Washington State University (US) and Georgia Southern University (US). We are anticipating a minimum of 20 of such global partnerships drawing from the extensive contacts and international respectability of the Director and staff of the proposed Centre. These professors and their institutions will support the teaching and research activities of the Centre.
                        
                    </div>
                </div>
    
                <!-- sideNav -->
                <% include ./partials/sideNav.ejs %>
            </div>
    
            
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ./partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>