<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>STUDENT RECRUITMENT | CITSE - Africa Centre of Excellence</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/Africa.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">
    <style>

    </style>

</head>

<body>
    <!-- Preloader -->
    <% include ./partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/ttt.JPG);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">STUDENT RECRUITMENT</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar">
                        <br>
                        <p>The proposed Centre will adopt a vigorous recruitment campaign to get a regionally diverse student body. There will be
                        local and international advertisements in a variety of media- print, electronic and social. Our national, regional and
                        global partners will be part of our student recruitment efforts on their websites. In student recruitment
                        advertisements, incentives available for students within the Centre will clearly be highlighted. Online advertisement,
                        television adverts and radio jingles will be part of the strategies. There will also be flyers that will be distributed
                        at regional conferences particularly those held outside the country.</p>
                        <p>At the moment, the Lagos State University advertisements for admission into postgraduate degree programmes are online
                        as well as through national dailies. These have been highly successful. The Centre plans to sustain this but to also
                        provide some international touch so as to capture our regional audience.</p>
                        <p>Advertisement will play a major role in having the Centre achieve at least 30% of postgraduate students for Africa
                        Centers of Excellence must be from Africa (non-national). The available incentives in the Centre is also another plus
                        for regional students’ enrolment. We will consider sponsoring staff to neighbouring countries to visit universities
                        particularly those that do not have postgraduate programmes, discuss the benefits of studying at the Centre and attract
                        final year students of the universities to our Centre for their postgraduate programmes.</p>
                        <br><br>
                    </div>
                </div>

                <!-- sideNav -->
                <% include ./partials/sideNav.ejs %>
            </div>


        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ./partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>