<div class="form-group row">
    <label for="<%= fieldname %>" class="col-sm-2 col-form-label"><%= fieldlabel %></label>
    <div class="col-sm-10">
        <textarea name="<%= fieldname %>" class="form-control" style="height:10000px" id="editor" cols="30" rows="10"> <%= valueField %> </textarea>
    </div>
</div>