






<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/dashboard-head', {pagename: 'Edit Slider'}) %>
  </head>

  <body>
    <%- include('../partials/dashboard-nav') %>
    <%- include('../partials/sidebar.ejs', {page: 'slider', activeParent: 'home'}) %>
<div>

    <form action="" method="get">
            <div class="form-group row">
                <label for="image" class="col-sm-2 col-form-label">Image </label>
                <div class="col-sm-10">
                <input type="file" class="form-control" id="img" name="slider1">
                
            </div>
    
            <!-- code for image visibility (radio button) -->
            
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="visible" class="custom-control-input">
                <label class="custom-control-label" for="visible">visible</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="notVisible" class="custom-control-input">
                <label class="custom-control-label" for="notVisible">not visible</label>
            </div>
    
    
        </form>
            
    </div>

    
        <script>
            $('.your-checkbox').prop('indeterminate', true)
        </script>


        </main>
      </div>
    </div>

    <%- include('../partials/dashboard-scripts') %>
    
<!-- <script>
    $("#submit").click(function(event){
      alert('hello')
      event.preventDefault();
        var $fileUpload = $("#img");
        if (parseInt($fileUpload.get(0).files.length)>2){
         alert("You can only upload a maximum of 2 files");
        }
    });
​
</script> -->
  </body>
</html>







